---
import PlanCard from "../components/plan-card.astro";
import Layout from "../layout/layout.astro";
---

<Layout title="Junior Villegas">
  <div class="bg-white py-12 md:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto flex justify-center flex-col items-center max-w-3xl md:text-center"
      >
        <h3
          class="text-2xl font-bold tracking-tight m-0 text-gray-900 md:text-4xl"
        >
          Your Highest Self
        </h3>
        <div class="max-w-2xl text-lg leading-8 text-gray-600">
          <p>
            Eres capaz de lograr tu mejor versi칩n f칤sica y mental, s칩lo
            necesitas a alguien que te gu칤e y crea en tu potencial.
          </p>

          <p>
            Mejoraremos tu nutrici칩n y tu nivel de entrenamiento por medio de un
            plan personalizado para ti. 춰Vamos a ello!
          </p>
        </div>
      </div>

      <PlanCard
        link="https://buy.stripe.com/bIY02aeP4ayOaEEeUZ"
        included={[
          "Dieta personalizada",
          "Formulario web para consultor칤a inicial",
          "Rutina personalizada",
          "Checking cada 4 semanas",
          "Acceso a la comunidad Grupo de WhatsApp",
        ]}
        headline="P치galo Mensual"
        price={78}
        title="Coaching Online Wolf Team (Express Change)"
      >
        <span class="block">
          Nota: <span class="font-medium"> Este plan es b치sico </span>
        </span>

        Para obtener un cambio f칤sico basado en entrenamiento y nutrici칩n
        칰nicamente. Todas las preguntas deben ser dejadas en el grupo de
        WhatsApp para que Jr. Villegas las responda.
      </PlanCard>

      <PlanCard
        link="https://buy.stripe.com/8wM02a7mCbCS6ooeVb"
        included={[
          "Dieta personalizada",
          "Formulario web para consultor칤a inicial",
          "Rutina personalizada",
          "Suplementaci칩n personalizada",
          "Checking cada 4 semanas",
          "1 Zoom al mes con la comunidad (Way of Life Jr. Villegas)",
          "Resolver dudas 1 vez a la semana",
          "Acceso a la comunidad (Privada Way of Life)",
        ]}
        headline="Pago 칰nico por dos meses"
        price={250}
        title="Coaching Online Lifestyle Meses - 2 Meses"
      />

      <PlanCard
        link="https://buy.stripe.com/9AQ2aifT8gXc8wwaEH"
        included={[
          "Dieta personalizada",
          "Rutina personalizada",
          "Formulario web para consultor칤a inicial",
          "Videollamada inicial de 20-30 min",
          "Suplementaci칩n personalizada",
          "Checking cada 15 d칤as",
          "Farmacolog칤a opcional",
          "1 Zoom al mes con la comunidad Privada Way of Life",
          "2 Zoom al mes 1:1 conmigo",
          "Resolver dudas 3 veces a la semana 1:1",
          "Acceso a la comunidad Privada Way of Life",
          "Recursos de motivaci칩n",
          "H치bitos y mentalidad ganadora",
        ]}
        headline="Pago 칰nico por tres meses"
        price={350}
        title="Coaching Online Lifestyle (Transformaci칩n F칤sica - Cambio Dr치stico) - 3 Meses"
      />

      <PlanCard
        link="https://buy.stripe.com/eVa4iqdL05eu1447sw"
        included={[
          "Dieta personalizada",
          "Rutina personalizada",
          "Suplementaci칩n personalizada",
          "Videollamada inicial de 20-30 min",
          "Checking cada 2 semanas",
          "1 Zoom al mes con la comunidad",
          "Farmacolog칤a opcional",
          "3 Zoom al mes 1:1 conmigo",
          "Resolver dudas en cualquier momento 1:1 - 24/7 v칤a WhatsApp",
          "Acceso a la comunidad Privada Way of Life",
          "Recursos de motivaci칩n",
          "H치bitos y mentalidad ganadora",
        ]}
        headline="Pago 칰nico por seis meses"
        price={550}
        title="Coaching Online Lifestyle (Transformaci칩n F칤sica - Cambio Dr치stico) - 6 Meses"
      />

      <PlanCard
        link="https://buy.stripe.com/6oE9CKdL09uK7ssfYY"
        included={[
          "Dieta y entrenamiento dise침ados para mejorar puntos espec칤ficos favorables para la competencia.",
          "Farmacolog칤a y suplementaci칩n.",
          "Contacto v칤a WhatsApp 24/7.",
          "Incluye todo lo que conlleva una preparaci칩n de la parte del preparador.",
          "Off season y pre contest.",
          "Chequeos cada 15 d칤as. Si es necesario un chequeo antes de los 15 d칤as, se pedir치 directamente en caso de que sea necesario un ajuste de nutrici칩n antes del tiempo requerido.",
          "Farmacolog칤a avanzada seg칰n mi experiencia y estudios, cuidando siempre la salud del atleta por encima de todo.",
          "Consulta para eliminar dudas, ajustes y correcciones de ejercicios, planificaci칩n y estructuraci칩n del entrenamiento seg칰n el objetivo a lograr.",
          "Entrenamiento estructurado espec칤ficamente por Junior Villegas dise침ado para ti.",
          "Aprender치s los sistemas de entrenamientos avanzados que ser치n incluidos en tu plan en el momento correcto.",
        ]}
        headline="Pago 칰nico por tres meses"
        price={400}
        title="Coaching Online para Atletas - 3 Meses"
      >
        <p>
          Nota: Mis planteamientos son para personas que desean cambios r치pidos
          y est치n comprometidos, tambi칠n para entrenadores o personas que desean
          conocer un entrenamiento de m치s alto nivel, actualizado en
          hipertrofia, nutrici칩n y suplementaci칩n. Uso en los planes
          herramientas de alimentaci칩n, suplementaci칩n y entrenamiento avanzados
          que le ayudar치n a lograr su objetivo m치s r치pido. El plan est치 adaptado
          a su vida diaria y tendr치 acompa침amiento y soluciones todo el tiempo.
        </p>

        <p>
          游닇 Este plan es 칰nicamente para personas que son atletas y que desean
          lograr un cambio f칤sico avanzado.
        </p>

        <strong>Programaci칩n dieta - nutrici칩n:</strong>
        <ul>
          <li>
            El protocolo de nutrici칩n basado en el conteo de macros es lo que
            sigue el 90% de mis clientes, acompa침ado de su cardio si tiene
            tiempo de hacerlo y no es estresante para ti, protocolos de
            suplementaci칩n.
          </li>
          <li>
            Le asignar칠 ejercicios cardiovasculares semanales para completar,
            como deportes y salir a caminar, que cuentan como cardio, y tambi칠n
            suplementos basados en las necesidades y objetivos del cliente,
            basados en la ciencia y experiencia de Junior Villegas.
          </li>
        </ul>

        <p>
          Let's Go 游댠 Prep치rate, este es verdaderamente el pr칩ximo nivel.
          Tambi칠n me enviar치s fotos y videos de chequeo cada 15 d칤as para
          evaluar la forma, la ejecuci칩n y la intensidad de tu entrenamiento.
        </p>
      </PlanCard>

      <PlanCard
        link="https://buy.stripe.com/3cs3em22i22i3cc5km"
        included={[
          "Dieta y entrenamiento dise침ados para mejorar puntos espec칤ficos favorables para la competencia.",
          "Farmacolog칤a y suplementaci칩n.",
          "Contacto v칤a WhatsApp 24/7.",
          "Incluye todo lo que conlleva una preparaci칩n de la parte del preparador.",
          "Off season y pre contest.",
          "Chequeos cada 15 d칤as. Si es necesario un chequeo antes de los 15 d칤as, se pedir치 directamente en caso de que sea necesario un ajuste de nutrici칩n antes del tiempo requerido.",
          "Farmacolog칤a avanzada seg칰n mi experiencia y estudios, cuidando siempre la salud del atleta por encima de todo.",
          "Consulta para eliminar dudas, ajustes y correcciones de ejercicios, planificaci칩n y estructuraci칩n del entrenamiento seg칰n el objetivo a lograr.",
          "Entrenamiento estructurado espec칤ficamente por Junior Villegas dise침ado para ti.",
          "Aprender치s los sistemas de entrenamientos avanzados que ser치n incluidos en tu plan en el momento correcto.",
        ]}
        headline="Pago 칰nico por seis meses"
        price={550}
        title="Coaching Para Atletas - 6 Meses"
      >
        <p>
          Nota: Mis planteamientos son para personas que desean cambios r치pidos
          y est치n comprometidos, tambi칠n para entrenadores o personas que desean
          conocer un entrenamiento de m치s alto nivel, actualizado en
          hipertrofia, nutrici칩n y suplementaci칩n. Uso en los planes
          herramientas de alimentaci칩n, suplementaci칩n y entrenamiento avanzados
          que le ayudar치n a lograr su objetivo m치s r치pido. El plan est치 adaptado
          a su vida diaria y tendr치 acompa침amiento y soluciones todo el tiempo.
        </p>

        <p>
          游닇 Este plan es 칰nicamente para personas que son atletas y que desean
          lograr un cambio f칤sico avanzado.
        </p>

        <strong>Programaci칩n dieta - nutrici칩n:</strong>
        <ul>
          <li>
            El protocolo de nutrici칩n basado en el conteo de macros es lo que
            sigue el 90% de mis clientes, acompa침ado de su cardio si tiene
            tiempo de hacerlo y no es estresante para ti, protocolos de
            suplementaci칩n.
          </li>
          <li>
            Le asignar칠 ejercicios cardiovasculares semanales para completar,
            como deportes y salir a caminar, que cuentan como cardio, y tambi칠n
            suplementos basados en las necesidades y objetivos del cliente,
            basados en la ciencia y experiencia de Junior Villegas.
          </li>
        </ul>

        <p>
          Let's Go 游댠 Prep치rate, este es verdaderamente el pr칩ximo nivel.
          Tambi칠n me enviar치s fotos y videos de chequeo cada 15 d칤as para
          evaluar la forma, la ejecuci칩n y la intensidad de tu entrenamiento.
        </p>
      </PlanCard>
    </div>
  </div>
</Layout>
