---
import PlanCard from "../components/plan-card.astro";
import Layout from "../layout/layout.astro";
---

<Layout title="Junior Villegas">
  <div class="bg-white py-12 md:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto flex justify-center flex-col items-center max-w-3xl md:text-center"
      >
        <h3
          class="text-2xl font-bold tracking-tight m-0 text-gray-900 md:text-4xl"
        >
          Precios Transparentes y Sin Sorpresas
        </h3>
        <div class="max-w-2xl text-lg leading-8 text-gray-600">
          ¡Obtén los mejores resultados con nuestros planes de trabajo y alcanza
          tus metas con la guía de Junior Villegas!
        </div>
      </div>

      <PlanCard
        link="https://buy.stripe.com/bIY02aeP4ayOaEEeUZ"
        included={[
          "Plan Nutricional",
          "Plan de Entrenamiento",
          "Acceso al grupo de Whatsapp",
        ]}
        headline="Págalo Mensual"
        price={78}
        title="Plan Básico Mensual"
      >
        <span class="block">
          Nota: <span class="font-medium">
            Este plan es básico y no incluye chat frecuente con Junior Villegas,
            solo acceso al grupo.
          </span>
        </span>

        Las dudas se aclaran al inicio del plan y los cambios se realizan cada
        cuatro semanas. Todas las preguntas deben ser dejadas en el grupo para
        que Junior Villegas las responda.
      </PlanCard>

      <PlanCard
        link="https://buy.stripe.com/eVa4iqdL05eu1447sw"
        included={[
          "Dieta personalizada",
          "Entrenamiento personalizado",
          "Suplementación básica y/o avanzada",
          "Seguimiento vía WhatsApp 24/7",
          "Farmacología",
          "Chequeo cada 15 días",
        ]}
        headline="Pago único por seis meses"
        price={550}
        title="Coaching Lifestyle (6 Meses)"
      >
        Mis planteamientos son para personas que desean cambios rápidos y están
        comprometidos, también entrenadores o personas que desean conocer un
        entrenamiento de más alto nivel actualizado de hipertrofia, nutrición y
        suplementación. Uso en los planes herramientas avanzadas de
        alimentación, suplementación y entrenamiento que le ayudarán a lograr su
        objetivo más rápido. El plan es adaptado a su vida diaria y tendrá
        acompañamiento y soluciones todo el tiempo.
      </PlanCard>

      <PlanCard
        link="https://buy.stripe.com/9AQ2aifT8gXc8wwaEH"
        included={[
          "Dieta personalizada",
          "Entrenamiento personalizado",
          "Suplementación básica y/o avanzada",
          "Seguimiento vía WhatsApp 24/7",
          "Farmacología",
          "Chequeo cada 15 días",
        ]}
        headline="Pago único por doce semanas"
        price={350}
        title="Coaching Lifestyle (12 semanas)"
      >
        Mis planteamientos son para personas que desean cambios rápidos y están
        comprometidos, también entrenadores o personas que desean conocer un
        entrenamiento de más alto nivel actualizado de hipertrofia, nutrición y
        suplementación. Uso en los planes herramientas avanzadas de
        alimentación, suplementación y entrenamiento que le ayudarán a lograr su
        objetivo más rápido. El plan es adaptado a su vida diaria y tendrá
        acompañamiento y soluciones todo el tiempo.
      </PlanCard>

      <PlanCard
        link="https://buy.stripe.com/3cs3em22i22i3cc5km"
        included={[
          "Acceso a plataforma para coaches",
          "Entrenamiento personalizado",
          "Suplementación básica y/o avanzada",
          "Seguimiento vía WhatsApp 24/7",
          "Farmacología",
          "Chequeo cada 15 días",
          "Sistemas de entrenamientos avanzados.",
          "Diseño de Planes de nutrición",
        ]}
        headline="Pago único por seis meses"
        price={550}
        title="Coaching Para Atletas (6 Meses)"
      >
        Mis planteamientos son para personas que desean cambios rápidos y están
        comprometidos, también entrenadores o personas que desean conocer un
        entrenamiento de más alto nivel actualizado de hipertrofia, nutrición y
        suplementación. Uso en los planes herramientas avanzadas de
        alimentación, suplementación y entrenamiento que le ayudarán a lograr su
        objetivo más rápido. El plan es adaptado a su vida diaria y tendrá
        acompañamiento y soluciones todo el tiempo.
      </PlanCard>

      <PlanCard
        link="https://buy.stripe.com/6oE9CKdL09uK7ssfYY"
        included={[
          "Acceso a plataforma para coaches",
          "Entrenamiento personalizado",
          "Suplementación básica y/o avanzada",
          "Seguimiento vía WhatsApp 24/7",
          "Farmacología",
          "Chequeo cada 15 días",
          "Sistemas de entrenamientos avanzados.",
          "Diseño de Planes de nutrición",
        ]}
        headline="Pago único por tres meses"
        price={400}
        title="Coaching Para Atletas  (3 Meses)"
      >
        Mis planteamientos son para personas que desean cambios rápidos y están
        comprometidos, también entrenadores o personas que desean conocer un
        entrenamiento de más alto nivel actualizado de hipertrofia, nutrición y
        suplementación. Uso en los planes herramientas avanzadas de
        alimentación, suplementación y entrenamiento que le ayudarán a lograr su
        objetivo más rápido. El plan es adaptado a su vida diaria y tendrá
        acompañamiento y soluciones todo el tiempo.
      </PlanCard>
    </div>
  </div>
</Layout>
