---
import { cn } from "../utils/cn";
---

<footer class={cn(["bg-background"])}>
  <div
    class={cn([
      "container mx-auto flex flex-col items-center text-center w-full justify-center p-8",
      "lg:min-h-80",
    ])}
  >
    <img alt="logo" class={cn(["w-20"])} src="/cp.svg" />
    <div class={cn(["mt-2"])}>Copyright © 2024 Coaches Project.</div>
  </div>
</footer>
